<h5 class="card-subtitle mb-2 text-muted">Registro de artículos</h5>
<div class="pr-5">
    <h6 class="text-right" *ngIf="article.id">Clave: <span class="text-success">{{padLeft(article.id, '0', 4)}}</span></h6>
</div>
<form class="w-75" [formGroup]="formGroup" (keypress)="submit($event)" novalidate>
  <div class="form-group row">
    <label for="description" class="col-sm-4 col-form-label text-right">Descripción</label>
    <div class="col-sm-8">
      <input type="text" id="description" formControlName="description" [(ngModel)]="article.description" class="form-control">
    </div>
  </div>
  <div class="form-group row">
    <label for="model" class="col-sm-4 col-form-label text-right">Modelo</label>
    <div class="col-sm-8">
      <input type="text" id="model" formControlName="model" [(ngModel)]="article.model" class="form-control">
    </div>
  </div>
  <div class="form-group row">
    <label for="price" class="col-sm-4 col-form-label text-right">Precio</label>
    <div class="col-sm-4">
      <input type="text" id="price" formControlName="price" [(ngModel)]="article.price" class="form-control">
    </div>
  </div>
  <div class="form-group row">
    <label for="stock" class="col-sm-4 col-form-label text-right">Existencia</label>
    <div class="col-sm-2">
      <input type="number" id="stock" formControlName="stock" [(ngModel)]="article.stock" class="form-control">
    </div>
  </div>
</form>
<div class="text-right">
  <button class="btn btn-success" (click)="cancel()">Cancelar</button>
  <button class="btn btn-success" (click)="submit($event)" [disabled]="!formGroup.valid">Guardar</button>
</div>
