<div class="text-right">
  <button class="btn btn-success" [routerLink]="['../add']">
    <i class="fa fa-plus"></i>
    Nueva Venta
  </button>
</div>
<h5 class="card-subtitle mb-2 text-muted">Ventas activas</h5>
<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">Folio Venta</th>
      <th scope="col">Clave Cliente</th>
      <th scope="col">Nombre</th>
      <th scope="col">Total</th>
      <th scope="col">Fecha</th>
    </tr>
  </thead>
  <tbody>
      <tr *ngFor="let sale of sales">
        <td>{{padLeft(sale.id, '0', 4)}}</td>
        <td>{{padLeft(sale.client, '0', 4)}}</td>
        <td>{{sale.clientName}}</td>
        <td>{{sale.total | currency}}</td>
        <td>{{sale.createdAt | date: 'dd/MM/yyyy'}}</td>
      </tr>
  </tbody>
</table>
