<h4 class="card-title">Configuración General</h4>
<form class="w-75" [formGroup]="formGroup" (keypress)="submit($event)" novalidate>
  <div class="form-group row">
    <label for="financingRate" class="col-sm-4 col-form-label text-right">Tasa de financiamiento</label>
    <div class="col-sm-2">
      <input type="text" id="financingRate" formControlName="financingRate" [(ngModel)]="configs.financingRate" class="form-control">
    </div>
  </div>
  <div class="form-group row">
    <label for="deposit" class="col-sm-4 col-form-label text-right">% Enganche</label>
    <div class="col-sm-2">
      <input type="text" id="deposit" formControlName="deposit" [(ngModel)]="configs.deposit" class="form-control">
    </div>
  </div>
  <div class="form-group row">
    <label for="deadline" class="col-sm-4 col-form-label text-right">Plazo Máximo</label>
    <div class="col-sm-2">
      <input type="text" id="deadline" formControlName="deadline" [(ngModel)]="configs.deadline" class="form-control">
    </div>
  </div>
</form>
<div class="text-right">
  <button class="btn btn-success" (click)="cancel()">Cancelar</button>
  <button class="btn btn-success" (click)="submit($event)" [disabled]="!formGroup.valid">Guardar</button>
</div>
