<h5 class="card-subtitle mb-2 text-muted">{{title}} cliente</h5>
<div class="pr-5">
    <h6 *ngIf="client.id" class="text-right">Clave: <span class="text-success">{{padLeft(client.id, '0', 4)}}</span></h6>
</div>
<form class="w-50" [formGroup]="formGroup" (keypress)="submit($event)" novalidate>
  <div class="form-group row">
    <label for="name" class="col-sm-4 col-form-label text-right">Nombre</label>
    <div class="col-sm-8">
      <input type="text" id="name" formControlName="name" [(ngModel)]="client.name" class="form-control">
    </div>
  </div>
  <div class="form-group row">
    <label for="lastName" class="col-sm-4 col-form-label text-right">Apellido Paterno</label>
    <div class="col-sm-8">
      <input type="text" id="lastName" formControlName="lastName" [(ngModel)]="client.lastName" class="form-control">
    </div>
  </div>
  <div class="form-group row">
    <label for="momLastName" class="col-sm-4 col-form-label text-right">Apellido Materno</label>
    <div class="col-sm-8">
      <input type="text" id="momLastName" formControlName="momLastName" [(ngModel)]="client.momLastName" class="form-control">
    </div>
  </div>
  <div class="form-group row">
    <label for="rfc" class="col-sm-4 col-form-label text-right">RFC</label>
    <div class="col-sm-4">
      <input type="text" id="rfc" formControlName="rfc" [(ngModel)]="client.rfc" class="form-control">
    </div>
  </div>
</form>
<div class="text-right">
  <button class="btn btn-success" (click)="cancel()">Cancelar</button>
  <button class="btn btn-success" (click)="submit($event)" [disabled]="!formGroup.valid">Guardar</button>
</div>
