<div class="wrapper">

  <!-- Sidebar -->
  <nav id="sidebar">
      <!-- Sidebar Header -->
    <div class="sidebar-header">
        <h3>La Vendimia</h3>
    </div>

    <!-- Sidebar Links -->
    <ul class="list-unstyled components">
        <li [routerLinkActive]="'active'"><a [routerLink]="['sales']">Ventas</a></li>
        <li [routerLinkActive]="'active'"><a [routerLink]="['clients']">Clientes</a></li>
        <li [routerLinkActive]="'active'"><a [routerLink]="['articles']">Artículos</a></li>
        <!-- Link with dropdown items -->
        <!--    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Catálogos</a>
            <ul class="collapse list-unstyled" id="homeSubmenu">
                <li [routerLinkActive]="'active'"><a [routerLink]="['clients']">Clientes</a></li>
                <li [routerLinkActive]="'active'"><a [routerLink]="['articles']">Artículos</a></li>
            </ul>
        -->
        <li [routerLinkActive]="'active'"><a [routerLink]="['config']">Configuración</a></li>
    </ul>
  </nav>

  <!-- Page Content -->
  <div id="content">
      <nav class="navbar navbar-expand-lg">
        <a id="sidebarCollapse" class="navbar-brand pointer">
            Inicio
        </a>
        <ul class="nav ml-auto">
          <li class="nav-item">
            <a class="nav-link">Fecha: {{date | date : 'dd/MM/yyyy'}}</a>
          </li>
        </ul>
      </nav>
      <!--Views Render -->
      <div class="views w-100">
        <div class="card" style="width: 100%;">
          <div class="card-body">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
  </div>
</div>
