<h5 class="card-subtitle mb-2 text-muted">Registro de ventas</h5>
<div class="pr-5">
    <h6 class="text-right" *ngIf="sale.id">Folio: <span class="text-success">{{padLeft(sale.id, '0', 4)}}</span></h6>
</div>
<form class="w-75">
  <div class="form-group row">
    <label for="searchClient" class="col-sm-2 col-form-label">Cliente</label>
    <div class="col-sm-6">
      <input #searchClientInput *ngIf="!client" type="text" (keyup)="searchClient($event.target.value)" id="searchClient" class="form-control" placeholder="Buscar cliente...">
      <input *ngIf="client" (click)="readOnlyClicked()" type="text" value="{{clientString()}}" class="form-control" readonly>
      <ul class="autocomplete-items" *ngIf="clients.length > 0">
        <li class="autocomplete-item"
            *ngFor="let client of clients; let i = index;"
            (click)="onClientSelected(client)">
            {{client.name + ' ' + client.lastName + ' ' + client.momLastName}}
        </li>
      </ul>
    </div>
    <div *ngIf="client" class="col-sm-4">
      <h6 class="text-secondary align-middle p-2">RFC: {{client.rfc}}</h6>
    </div>
  </div>
</form>
<hr class="w-100">
<form class="w-75">
  <div class="form-group row">
    <label for="searchClient" class="col-sm-2 col-form-label">Artículo</label>
    <div class="col-sm-6">
      <input #searchArticleInput type="text" id="searchArticle" (keyup)="searchArticle($event.target.value)" class="form-control" placeholder="Buscar artículo...">
      <ul class="autocomplete-items" *ngIf="articlesSearch.length > 0">
        <li class="autocomplete-item"
            *ngFor="let article of articlesSearch; let i = index;"
            (click)="onArticleSelected(article)">
            {{article.description}}
        </li>
      </ul>
    </div>
    <div class="col-sm-2">
      <button class="btn btn-dark" (click)="addArticle()"><i class="fa fa-plus"></i></button>
    </div>
  </div>
</form>
<table class="table table-hover">
  <thead class="thead-light">
    <tr>
      <th scope="col">Descripción artículo</th>
      <th scope="col">Modelo</th>
      <th scope="col">Cantidad</th>
      <th scope="col">Precio</th>
      <th scope="col">Importe</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
      <tr *ngFor="let article of articles; let i = index">
        <td>{{article.articleDescription}}</td>
        <td>{{article.articleModel}}</td>
        <td><form><input min="1" class="form-control" name="quantity" type="number" (keyup)="quantityChanged($event.target.value, article)" [(ngModel)]="article.Quantity" [readOnly]="i === articles.length - 1 && !isNewArticle"></form></td>
        <td>{{article.Price | currency}}</td>
        <td>{{article.amount | currency}}</td>
        <td><a (click)="deleteArticle(article)" class="text-danger pointer"><i class="fa fa-close"></i></a></td>
      </tr>
  </tbody>
</table>

<div class="col-sm-6 ml-auto" *ngIf="articles.length > 0">
  <div class="container">
    <div class="row mb-2">
      <div class="col-sm-9 text-right">
          <span class="bg-secondary text-white p-1 rounded">Enganche:</span>
      </div>
      <div class="col-sm-3 text-right">
          <span class="text-primary">{{sale.deposit |currency}}</span>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-sm-9 text-right">
          <span class="bg-secondary text-white p-1 rounded">Bonificación enganche:</span>
      </div>
      <div class="col-sm-3 text-right">
          <span class="text-primary">{{sale.depositBon |currency}}</span>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-sm-9 text-right">
          <span class="bg-secondary text-white p-1 rounded">Total:</span>
      </div>
      <div class="col-sm-3 text-right">
          <span class="text-primary">{{sale.total |currency}}</span>
      </div>
    </div>
  </div>
</div>
<div class="card mb-3 w-100" *ngIf="next">
  <div class="card-header text-center"><strong>ABONOS MENSUALES</strong></div>
  <div class="card-body">
    <table class="table">

      <tbody>
        <tr *ngFor="let plan of plans; let i = index">
          <td>{{plan.months}} ABONOS DE</td>
          <td>{{ plan.payment | currency}}</td>
          <td>TOTAL A PAGAR {{ plan.total | currency}}</td>
          <td>SE AHORRA {{plan.save | currency}}</td>
          <td><input type="radio" name="plan" [value]="plan.months" (change)="onRadioChange(plan)" [checked]="i === 0"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<hr class="w-100">
<div class="text-right">
  <button class="btn btn-success" (click)="cancel()">Cancelar</button>
  <button *ngIf="!next" class="btn btn-success" (click)="abonos()" [disabled]="!(client && articles.length > 0 && !isQuantityZero)">Siguiente</button>
  <button *ngIf="next" class="btn btn-success" (click)="submit()">Guardar</button>
</div>
