.autocomplete-items {
  list-style: none;
    padding: 0.2em 0;
    margin: 0;
    position: absolute;
    z-index: 50;
    margin-top: 0px;
    left: 0;
    right: 0;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-top-color: transparent;
}
.autocomplete-item {
    cursor: pointer;
    padding: 0.5em 1em;
    border-bottom: 1px solid whitesmoke;
}
.autocomplete-item:hover
{
    background-color: #f9f9f9;
    font-weight: bold;
}
