<div class="text-right">
  <button class="btn btn-success" [routerLink]="['../add']">
    <i class="fa fa-plus"></i>
    Nuevo Artículo
  </button>
</div>
<h5 class="card-subtitle mb-2 text-muted">Clientes Registrados</h5>
<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">Clave Artículo</th>
      <th scope="col">Descripción</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
      <tr *ngFor="let article of articles">
        <td>{{padLeft(article.id, '0', 4)}}</td>
        <td>{{article.description}}</td>
        <td><a (click)="navigate('../edit', article.id)" class="text-dark pointer"><i class="fa fa-pencil"></i></a></td>
      </tr>
  </tbody>
</table>
