<div class="text-right">
  <button class="btn btn-success" [routerLink]="['../add']">
    <i class="fa fa-plus"></i>
    Nuevo Cliente
  </button>
</div>
<h5 class="card-subtitle mb-2 text-muted">Clientes Registrados</h5>
<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">Clave Cliente</th>
      <th scope="col">Nombre</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
      <tr *ngFor="let client of clients">
        <td>{{padLeft(client.id, '0', 4)}}</td>
        <td>{{client.name + ' ' + client.lastName + ' ' + client.momLastName}}</td>
        <td><a (click)="navigate('../edit', client.id)" class="text-dark pointer"><i class="fa fa-pencil"></i></a></td>
      </tr>
  </tbody>
</table>
